/* Global */

/* Body */ 

body {
    font-family: 'Faustina', serif !important;
    font-size: 18px;
    h1, h2, h3, h4, h5, {
      font-family: 'Playfair Display', serif !important;
    }
  }

/* Header */


/* Footer */