/* Variables */

$color-one: #fed136;
$color-light: #fff;
$color-text: #2C3A47;

$font-header: 'Montserrat', sans-serif;
$font-text: 'PT Serif', serif;
$font-logo: 'Mansalva', cursive;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

/* Body */ 

body {
  margin: 0;  
  font-family: $font-text;
  font-size: 18px;
  text-align: center;
  line-height: 1.7;
  }

section {
  padding: 96px 0;
}

.container {
  max-width: 1440px;
  margin: 20px auto;
}

.section-title {
  font-family: $font-header;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.section-subtitle {
  font-family: $font-text;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
}

.box-title {
  font-family: $font-header;
  font-size: 18px;
  text-align: center;
}

button {
  background-color: $color-one;
  color: #fff;
  font-size: 20px;
  font-family: $font-header;
  width: 200px;
  height: 60px;
  border: 0;
  margin: 32px 0;   
}

/* Header */

header {
  color: $color-light;
  font-family: $font-header;
}

.splash {
  height: 700px;
  position: relative;
  background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
/*
.splash::after {
  position: absolute;
  content: '';
  background: $color-text;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  left: 0;
  top: 0;
  z-index: 0;
}
*/
.navigation {
  padding: 20px 0;
  a {
      text-decoration: none;
      color: $color-light;
      &:hover {
          color: $color-one;
      }
  }
  span {
    font-family: $font-logo;
    font-size: 26px;
    color: $color-one;
  }
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  }
  
.page-title {
    font-size: 76px;
  }

.page-subtitle {
    font-family: $font-text;
    font-size: 40px;
    font-style: italic;
    font-weight: 300; 
  }

/* Services */

.services {
  i {
    font-size: 50px;
    color: $color-one;
    border: solid 6px $color-one;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 85px;
  }
}

/* Portfolio */

.portfolio {
  background-color: #f7f7f7;
  img {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
    padding: 0px;
  }
  .portfolio-description {
    background-color: $color-light;
  }
  .box-title {
    margin: 0;
  }
}

/* Footer */

footer ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
}

footer li {
  font-size: 0;
  display: inline-block;
  margin: 0 10px;
  i {
  font-size: 30px;
  background: $color-text;
  width: 60px;
  height: 60px;
  color: $color-light;
  border-radius: 50%;
  }
}

.fab {
  text-align: center;
  line-height: 60px;
      }
      